<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">

<ion-card>
  <img src="../assets/imgs/music.jpg"/>
  <div class="card-title">WOOIONIC</div>
  <div class ="card-subtitle"> Keep shopping!</div>
</ion-card>

    <ion-list>
      <ion-item *ngFor="let category of categories" text-wrap (click)="openCategoryPage(category)" menuClose>
        <ion-icon [name]="category.icon" item-left large></ion-icon>
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="homePage"></ion-nav>