.card-background-page{
    ion-card{
        position: relative;
        text-align: center;
        margin: 0px !important;
        width: 100% !important;
    }

    .card-title{
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .card-subtitle{
        position: absolute;
        top: 60%;
        font-size: 1.0em;
        width: 100%;
        color: #fff;
    }
}
